div{
    height: 700px;
    margin: 0;
    padding: 0;
    
}
.green{
    background-color:greenyellow;
}
h1{
    text-align: center;margin: 0;
    padding: 0;}

p{
    text-align: center;margin: 0;
    padding: 0;
}