body{
    background:
        url("../images/active-athlete-barbell-2261.gif")
         center center fixed;
    background-size:cover;
    opacity:0.6;
    
}
div{text-align: center;
    margin: 250px auto;
    background-color: antiquewhite;
        width:40%;
    border-radius: 15px;
}
button{
    background: orange;
    padding: 10px ;
    color:aliceblue;
    font-size: 0.9em;
    border-radius: 10px;
}
h1{ font-family: 'Russo One', sans-serif;
    font-size: 3em;
}
p{ margin-top: auto;
    font-size: 1.5em;
}
i{
    font-size: 2em;
    padding-top: 15px
}